:root {
/*Colors*/
  --details: #2a7234;
  --main: #ACD9B2;
  --main-oposite: #81af87;
  --text-input-field: #F7F7F7;
  --close: #ec3a3a;
  --white: #FFFFFF;
  --black: #000000;
/*fonts*/
  --sm: 14px;
  --md: 18px;
  --lg: 22px;
  --texto-numeros: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --texto-consola: 'Courier New', Courier, monospace;
}
body {
  margin: 0;
  font-family: 'verdana', sans-serif;

.inactive{
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 6px 24px;
  border-bottom: 1px solid var(--details);
}

.menu {
  display: none;
}

.logo {
  width: 155px;
}

.header-left ul, .header-right ul {
  list-style: none;
  padding: 0 8px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.header-left {
  display: flex;
}

.header-left ul {
  margin-left: 12px;
}

.header-left ul li a, .header-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 3px solid var(--white);
  padding: 8px;
  border-radius: 12px;
}

.header-left ul li a:hover,
.header-right ul li a:hover {
  border: 3px solid var(--main);
  color: var(--details);
}

.shoppingBox{
  width: 70px;
  height: auto; 
}
.header-email {
  background-color: var(--main);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 24px;
}
.header-email:hover{
  background-color: var(--main-oposite);
}
.header-shopping-cart {
  position: relative;
}
.header-shopping-cart div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: auto;
  height: auto;
  padding: 4px;
  background-color: var(--main);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -4px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-menu {
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--md);
  font-weight: bold;
  position: absolute;
  background: var(--white);
  top: 56px;
  right: 138px;
  width: auto;
  height: auto;
  border-bottom: 2px dashed var(--black);
  border-top: 2px dashed var(--black);
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-radius: 3% 3% 3% 3%;
  padding: 20px 20px 0 20px;
}
.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: lighter;
}
.desktop-menu ul li:last-child {
  padding-top: 15px;
  border-top: 2px dashed var(--black);
}
.desktop-menu ul li:last-child a {
  background-color: #ec3a3a;
  color: var(--white); 
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-size: var(--sm);
}
.desktop-menu ul li:last-child a:hover {
  background-color: #cc1b1b;
}
.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 18px;
  display: inline-block;
}



.mobile-menu {
  background-color: var(--white);
  position: absolute;
  top: 65px;
  left: 0px;
  width: 100%;
  padding: 24px;
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
  margin-bottom: 24px;
}
.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}
.sign-out {
  font-size: var(--sm);
  color: var(--main) !important;
}


/* .product-detail:nth-child(even) {
  background-color: lightyellow;
} */

.product-detail { 
  font-family: var(--texto-consola);
  font-size: var(--md);
  background-color: var(--white);
  width: 360px;
  padding: 0 24px 35px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
.shopping-cart p:nth-child(3){ 
  font-family: var(--texto-numeros);
}
.title-aside{
  font-weight: var(--md);
}
.close-aside{
  cursor: pointer;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(2){
  font-size: var(--lg);
  font-family: var(--texto-numeros);
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span {
  font-family: var(--texto-consola);
  font-size: var(--lg);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.aside-removeItem{
  width: 15px;
  height: auto;
  cursor: pointer;
  padding: 3px;
}
.aside-removeItem:hover{
  padding: 3px;
  background-color: var(--close);
  border-radius: 100px;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.header-shopping-cart{
  cursor: pointer;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
  background-color: var(--main);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.primary-button:hover{
  background-color: var(--main-oposite);
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  gap: 26px;
  place-content: center;
  margin-top: 30px;
}
.product-card {
  width: 240px;
}
.product-card img{
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.img-product-card{
  border-radius: 18px;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.product-info figure {
  position: relative;
  margin: 0;
  background-color: var(--main);
  padding: 4px;
  padding-top: 24px;
  border-radius: 8px;
}
.product-info figure{
  position: relative;
  margin: 0;
  background-color: var(--main);
  padding: 4px;
  padding-top: 24px;
  border-radius: 8px;
}
.product-info figure div{
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: -3px;
  right: 17px;
}
.product-info figure:hover{
  background-color: var(--main-oposite);  
  cursor: pointer;
}
.product-info figure img {
  width: auto;
  height: 29px;
}
.product-info div p:nth-child(1) {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: medium;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--details);
}


.product-detail-bigcard {
  background-color: var(--white);
  height: 100%;
  width: 30rem;
  right: 0px;
  position: absolute;
}
.product-detail-close-bigcard {
  border-radius: 100%;
  background-color: var(--white);
  position: absolute;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  z-index: 2;
}
.product-detail-close-bigcard:hover {
  cursor: pointer;
  background-color: var(--close);
}
.product-detail-bigcard > img:nth-child(2) {
  width: 100%;
  height: 26em;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.caja-bigcard{
  padding: 10px;
  width: 70px;
  height: auto;
}
.productCard-Edit img{
  width: 20px;
}
.product-info-bigcard {
  margin: 24px 24px 0 12px;
}
.product-info-bigcard p:nth-child(1) {
  font-family: var(--texto-numeros);
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 6px;
}
.product-info-bigcard p:nth-child(2) {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 28px;
}
.product-info-bigcard p:nth-child(3) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}
.primary-button-bigcard {
  background-color: var(--main);
  border-radius: 12px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 60px;
}
.primary-button-bigcard:hover {
  background-color: var(--main-oposite);
}
.add-to-cart-button-bigcard {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .header-left ul {
    display: none;
  }
  .header-email {
    display: none;
  }
  .desktop-menu{
    display: none;
  }
  .product-detail {
    width: 100%;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
  .product-detail-bigcard {
    width: 100%;
  }
}
@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}